# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/GitlabLint.xml
/bsp.xml
/encodings.xml
/misc.xml
/modules.xml
/modules/
/scala_compiler.xml
/scala_settings.xml
/libraries
